footer
  .container.text-center
    p.pull-left © 2017 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sethbergman/mean-stack-nitrous') GitHub Project
      li
        a(href='https://github.com/sethbergman/mean-stack-nitrous/issues') Issues
